@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
:root {
    --primary-color: #fff;
    --secondary-color: #fff;
    --text-color: #fff;
    --title-font: "Lato", sans-serif;
    --text-font: "Open Sans", sans-serif;
}
